<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead"><strong><%= brewery.name %></strong></p>
      <div id="map"></div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail border">
        <img class="img-responsive" src="<%= brewery.image %>">
        <div class="caption-full">
          <h4 class="float-right">$ <%= brewery.price %>  - Average Cost Per Beer</h4>
          <h4><a><%= brewery.name %></a></h4>
          <p><%= brewery.description %></p>
          <p>
            <em>Submitted By <%= brewery.author.username %></em>
          </p>
          <% if(currentUser && brewery.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-warning" href="/breweries/<%= brewery._id %>/edit">Edit</a>
            <form class="delete-form" action="/breweries/<%= brewery._id %>?_method=delete" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } %>
        </div>
      </div>
      <br>
      <div class="well border">
        <div class="text-right">
          <a class="btn btn-success" href="/breweries/<%= brewery._id %>/comments/new">Add New Comment</a>
        </div>
        <% brewery.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="float-right">10 days ago</span>
              <p>
                <%= comment.text %>
              </p>
              <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                <a class="btn btn-warning"
                  href="/breweries/<%=brewery._id%>/comments/<%=comment._id%>/edit">Edit
                </a>
                <form class="delete-form" action="/breweries/<%=brewery._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
                  <input type="submit" value="Delete" class="btn btn-danger">
                </form>
              <% } %>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<script>
  function initMap() {
    let lat = <%= brewery.lat %>;
    let lng = <%= brewery.lng %>;
    let center = {lat: lat, lng: lng };
    let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: center,
        scrollwheel: false
    });
    let contentString = `
      <strong><%= brewery.name %><br/>
      <%= brewery.location %></strong>
      <p><%= brewery.description %></p>
    `
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    let marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt1hjLBWaB9KaIhmkM92CYYD4KX6_e6FU&callback=initMap"></script>

<% include ../partials/footer %>
